<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="text/javascript">
        //set global site location
        siteRoot = '@Url.Content("~/")';
        user = '@Html.Encode(User.Identity.Name)';
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <!-- ko with: App.viewModel -->
    <div id="header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center">
            <a href="http://www.colichegassose.it"><img src="~/Images/appicon.png" alt="logo" height="40"/></a>
            <a href="http://www.colichegassose.it"><img src="~/Images/logo.png" alt="logo" /></a>
            @if (Request.IsAuthenticated)
            {
                @*<strong>@Html.Encode(User.Identity.Name)</strong>*@
                @*@Html.ActionLink("Logout", "Logout", "Statistics")*@
            }
        </div>
    </div>
    <div id="main_container" class="container body-content">
        @RenderBody()
    </div>
    <div id="footer"class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <!--<a id="app-store" href="https://itunes.apple.com/us/app/TODO">
                <img src="~/Images/app-store.png" alt="app store link">
            </a>-->
            <p class="muted credit">@@ Copyright 2015 by Direct Scientific Publishing SRL</p>
            <!--<a href="https://play.google.com/store/apps/details?id=it.directsp.colichegassose">
                <img alt="Scaricalo su Google Play Store" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
            </a>-->
        </div>
    </div>
    <!-- /ko -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/Chart")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
